* {
  transition: all .4s;
}

.App, body {
  grid-template-areas: 
    "head"
    "sale"
    "catalog"
    "footer";
  overflow-x: hidden;
  min-width: 320px!important;
  min-height: 600px;
}

/*HEADER*/

header {
  grid-area: head;
  height: auto;
  padding: 0 15%;
  background-image: url("./images/allienbg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 85% auto;
}

header .top-head {
  display: flex;
}

/*left*/

div.left-head {
  width: 53%;
  margin-top: 3%;
}

div.left-head-top {
  display: flex;
  align-content: center;
}

div.left-head-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  width: 75%;
  height: 750px;
}

div.left-head-bottom > * {
  margin-bottom: 35px;
}

img.logo-head {
  display: inline-block;
  margin-right: 35px;
}

li.logo-head-mobile > img.logo-head {
  display: none;
}

ul.list-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.list-categories {
  display: flex;
}

ul.list-categories li {
  width: auto;
  height: auto;
  transition: 0.5s transform;
}

ul.list-categories li:after {
  transition: 0.5s width;
  background: none repeat scroll 0 0 rgba(51, 58, 64, 0.92);
  content: "";
  display: block;
  height: 1px;
  margin-top: 8px;
  width: 0;
}

ul.list-categories li:hover {
  cursor: pointer;
}

ul.list-categories li:active {
  transform: scale(0.95, 0.95);
}

ul.list-categories li:active:after {
  transform: scale(1, 1);
}

ul.list-categories li:hover:after {
  width: 100%;
}

ul.list-head li {
  display: inline;
  margin-right: 20px;
  overflow: hidden;
}

ul.carousel-list-mobile {
  display: none;
}

span.title-head {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 2.6vw;
  line-height: 4vw;
  color: rgba(51, 58, 64, 0.92);
}

span.subtitle-head {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5vw;
  line-height: 3vw;
  color: #000000;
}

button.button-head {
  width: 300px;
  min-height: 60px;
  border: none;
  outline: none;
  background: linear-gradient(to right, rgba(51, 58, 64, 0.92) 50%, #4485BB 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  box-shadow: 5px 5px 30px rgba(58, 134, 198, 0.47);
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  transition: background-position .5s, transform .25s;
}

button.button-head:hover {
  background-position: left bottom;
  transform: scale(1.01, 1.01);
}

button.button-head:active {
  outline: none;
  transform: scale(0.99, 0.99);
}

.arrow-out {
  position: relative;
}

.mobile {
  display: none;
}

.line {
  position: absolute;
  width: 1.5px;
  height: 55px;
  background: #000000;
}

.line-down {
  height: 45px;
  left: 28px;
  top: 37.5px;
  width: 2px;
  transition: .45s transform;
}

.line-up {
  left: 18px;
  transition: .85s transform;
}

.arrow {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid #000000;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
  left: 20px;
  top: 65px;
  transition: .45s transform;
}

div.arrow-head {
  width: 47px;
  height: 90px;
  margin-left: 35px;
}

div.arrow-head:hover {
  cursor: pointer;
}

div.arrow-head:hover .line {
  transform: translateY(15px);
}

div.arrow-head:hover .arrow {
  transform: translateY(15px) rotate(45deg);
}

div.arrow-head:active .line-up {
  transform: translateY(20px);
}

div.arrow-head:active .line-down {
  transform: translateY(25px);
}

div.arrow-head:active .arrow {
  transform: translateY(25px) rotate(45deg);
}

ul.icons-head {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 75px;
  margin-top: 55px;
}

ul.icons-head li {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-bottom: 15px;
  align-items: center;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

ul.icons-head li > img {
  margin-bottom: 15px;
}

/*right*/

div.right-head {
  width: 45%;
}

.carousel-list {
  width: 100%;
  z-index: 2;
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin-top: 5.5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.carousel-number {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 0.9vw;
  white-space: nowrap;
  line-height: 16px;
}

.carousel-buttons {
  min-width: 135px!important;
}

.carousel-button {
  width: 10vw;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.15) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  outline: none;
  border: 1px solid #5E5E5E;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #5E5E5E;
  transition: transform .5s, background-position .5s;
}

.carousel-button:hover {
  transform: scale(1.01,1.01);
  background-position: left bottom;
}

.carousel-button:active {
  transform: scale(0.98, 0.98);
}

.carousel-list li {
  display: inline-block;
  width: auto;
}

.carousel-icon {
  transition: transform .5s;
}

.carousel-icon:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.carousel-icon:active {
  transform: scale(0.95, 0.95);
}

.head-carousel {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 700px;
  min-width: 300px;
}

.head-carousel-slide {
  position: absolute;
}

.head-carousel-img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.carousel-item-name {
  width: 190px;
  border-left: 2px solid #939393;
  padding: 10px 15px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  transition: all 0.4s;
}

.carousel-item-desc {
  display: block;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.carousel-item-price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.carousel-nav {
  position: relative;
  align-self: flex-end;
  margin: 9.5% 7.5%;
}

.head-carousel-button {
  z-index: 2;
  position: relative;
  display: inline-block;
  width: 35px;
  height: 10px;
  transition: transform .4s;
}

.head-carousel-next-line {
  position: absolute;
  top: 2.5px;
  width: 35px;
  height: 1.5px;
  background-color: #000000;
}

.head-carousel-next-arrow {
  position: absolute;
  left: 28px;
  width: 5px;
  height: 5px;
  border: 1.5px solid #000000;
  border-left: 0;
  border-top: 0;
  transform: rotate(-45deg);
}

.head-carousel-count {
  display: inline-block;
  margin: 0 15px;
}

.head-carousel-count-letter {
  display: inline;
  position: absolute;
  overflow: hidden;
}

.head-carousel-after-count {
  margin-left: 9px;
}

.head-carousel-prev-line {
  position: absolute;
  top: 2.5px;
  width: 35px;
  height: 1.5px;
  background-color: #000000;
}

.head-carousel-prev-arrow {
  position: absolute;
  width: 5px;
  height: 5px;
  border: 1.5px solid #000000;
  border-left: 0;
  border-top: 0;
  transform: rotate(135deg);
}

.head-carousel-prev:hover {
  transform: translateX(-5px);
}

.head-carousel-prev:active {
  transform: scale(1.1, 1.1) translateX(-7px);
}

.head-carousel-next:hover {
  transform: translateX(5px);
}

.head-carousel-next:active {
  transform: scale(1.1, 1.1) translateX(7px);
}

/*slide animation*/

.enter-active.enter-left, .enter-active.enter-right, .enter-active.enter-text-right, .enter-active.enter-text-left {
  transform: translateX(0);
  transition: transform .4s ease;
}

.enter-left {
  transform: translateX(100%);
}

.enter-right {
  transform: translateX(-100%);
  transition: transform .4s ease;
}

.enter-text-left {
  transform: translateX(100%);
  position: absolute;
  width: 180px;
}

.enter-text-right {
  transform: translateX(-100%);
  transition: transform .4s ease;
  position: absolute;
  width: 180px;
}

.leave-vert {
  transform: translateX(0);
}

.leave-active-left {
  transform: translateX(-100%);
  transition: transform .4s ease;
}

.leave-vert.leave-active-right {
  transform: translateX(100%);
  transition: transform .4s ease;
}

/*top-bottom*/

.enter-active.enter-bottom, .enter-active.enter-top {
  transform: translateY(0);
  opacity: 1;
  transition: all .4s;
}

.enter-bottom {
  transform: translateY(100%);
  opacity: 0.01;
}

.enter-top {
  transform: translateY(-100%);
  opacity: 0.01;
  transition: all .4s;
}

.leave-hor {
  transform: translateY(0);
  opacity: 1;
}

.leave-active-bottom {
  transform: translateY(-100%);
  opacity: 0.01;
  transition: all .4s;
}

.leave-hor.leave-active-top {
  transform: translateY(100%);
  opacity: 0.01;
  transition: all .4s;
}

/*SALE*/

section.sale {
  grid-area: sale;
  background: rgba(230, 239, 248, 0.29);
  height: auto;
  padding: 4% 15%;
}

span.title-sale {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 30px;
}

.sale-carousel-outer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sale-carousel-radio {
  width: 60px;
  margin-top: 35px;
  margin-bottom: 20px;
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.sale-radio-check {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
}

.sale-radio-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.sale-carousel-check {
  position: absolute;
  height: 14px;
  width: 14px;
  border-radius: 7px;
  background-color: #FFFBF7;
  border: 1px solid #BFBFBF;
  transition: all .4s;
}

.sale-radio-check input:hover + .sale-carousel-check {
  box-shadow: 0px 0px 0px 1px rgba(191,191,191,1);
  background-color: rgba(191, 191, 191, 0.1);
}

.sale-radio-check input:active + .sale-carousel-check {
  box-shadow: 0px 0px 0px 2px rgba(191,191,191,1);
  background-color: rgba(191, 191, 191, 0.4);
}

.sale-radio-check input:checked + .sale-carousel-check {
  transform: scale(1.2, 1.2);
  background-color: #BFBFBF;
}

.sale-carousel {
  height: auto;
  min-width: 875px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 45px 0;
}

.sale-carousel span {
  width: 235px;
  height: 450px;
}

.sale-carousel-left {
  transform: rotate(135deg);
}

.sale-carousel-right {
  transform: rotate(-45deg);
}

.sale-carousel-left, .sale-carousel-right {
  width: 15px;
  height: 15px;
  border: 1.5px solid #000000;
  border-left: 0;
  border-top: 0;
  transition: transform .4s;
}

.sale-carousel-left:hover, .sale-carousel-right:hover {
  cursor: pointer;
}

.sale-carousel-left:hover {
  transform: translateX(-5px) rotate(135deg);
}

.sale-carousel-left:active {
  transform: translateX(-10px) rotate(135deg);
}

.sale-carousel-right:hover {
  transform: translateX(5px) rotate(-45deg);
}

.sale-carousel-right:active {
  transform: translateX(10px) rotate(-45deg);
}

.sale-catalog-item-desc {
  height: 105px;
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
}

.sale-catalog-color {
  width: 22px;
  height: 42px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.sale-catalog-item-desc span {
  height: 65%;
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.sale-catalog-price {
  height: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span.item-price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  height: auto;
  width: auto;
}

span.sale-price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: line-through;
  height: auto;
  width: auto;
}

.sale-catalog-price div {
  z-index: 999;
  width: 8px;
  height: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1.75px solid #7B7B7B;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
  transition: transform .5s;
}

.sale-catalog-price div:hover {
  cursor: pointer;
  transform: rotate(45deg) translateY(5px) translateX(5px) scale(1.2, 1.2);
}

.sale-catalog-item {
  width: 235px;
  height: 465px;
  background: #ffffff;
  box-shadow: 5px 5px 35px -15px rgba(0,0,0,0.75);
  transition: transform .5s;
}

.sale-catalog-item img {
  width: 100%;
  height: 325px;
  object-fit: cover;
}

.sale-current {
  transition: transform .4s;
  transform: scale(1.02, 1.02);
}

/*sale slide animation*/

.enter-active-sale.enter-left-sale, .enter-active-sale.enter-right-sale, 
.enter-active-sale.enter-text-right-sale, .enter-active-sale.enter-text-left-sale {
  transform: translateX(0);
  opacity: 1;
  position: absolute;
  transition: all .4s ease;
}

.enter-left-sale {
  transform: translateX(310px);
  opacity: 0.01;
  width: 235px;
  height: 465px;
}

.enter-right-sale {
  transform: translateX(-310px);
  opacity: 0.01;
  width: 235px;
  height: 465px;
  transition: all .4s ease;
}

.leave-vert-sale {
  transform: translateX(0);
  opacity: 1;
  position: absolute;
}

.leave-active-left-sale {
  transform: translateX(-310px);
  opacity: 0.01;
  width: 235px;
  height: 465px;
  transition: all .4s ease;
}

.leave-vert-sale.leave-active-right-sale {
  transform: translateX(310px);
  opacity: 0.01;
  width: 235px;
  height: 465px;
  transition: all .4s ease;
}

/*CATALOG*/

section.catalog {
  grid-area: catalog;
  padding: 5% 15%;
  background-color: #ffffff;
}

.top-catalog {
  background-image: url('./images/abg.png');
  background-size: 125px 175px;
  background-repeat: no-repeat;
  background-position: center left 25px;
}

/*lookbook*/

img.lookbook-image {
  width: 50%;
  box-shadow: -77px 67px 0px -35px rgba(216, 227, 231, 0.36);
}

.lookbook-description {
  width: 40%;
  height: 100%;
}

.title-description {
  display: block;
  margin-bottom: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 30px;
}

.subtitle-description {
  display: block;
  margin-bottom: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.lookbook-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: calc(135px + 20%);
  height: 45px;
  background: linear-gradient(to right, rgba(216, 227, 231, 0.36) 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  outline: none;
  border: 1px solid black;
  transition: background-position .5s, transform .5s;
}

.lookbook-button-description {
  font-family: Montserrat;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
}

.lookbook-button:hover {
  outline: none;
  background-position: left bottom;
  transform: scale(1.01, 1.01);
}

.lookbook-button:hover .button-arrow {
  transform: translateX(5px);
}

.lookbook-button:active {
  outline: none;
  transform: scale(0.98, 0.98);
}

.lookbook-button:active .button-arrow {
  transform: translateX(12px);
}

.button-arrow {
  position: relative;
  transition: 0.5s transform;
}

.button-arrow-line {
  position: absolute;
  right: 1px;
  height: 1px;
  width: 15px;
  background-color: #000000;
}

.button-arrow-triangle {
  position: absolute;
  right: 1px;
  top: -2.9px;
  width: 5px;
  height: 5px;
  border: 1.5px solid #000000;
  border-left: 0;
  border-top: 0;
  transform: rotate(-45deg);
}

.lookbook {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*collection*/

.collection {
  display: flex;
}

.left-collection {
  width: 75%;
}

.right-collection {
  width: 25%;
  height: 600px;
  padding: 0;
  background: #CFDCE9;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.right-collection-bg {
  position: absolute;
  width: 100%;
  height: auto;
  right: 20%;
  bottom: -4px;
}

.right-collection-bg img {
  width: 120%;
  margin-bottom: 0;
}

.top-collection {
  width: 66.7%;
  display: flex;
  justify-content: space-between;
  margin-left: 25%;
}

.collection-line {
  width: 0;
  margin: 0 35px;
  margin-top: 15px;
  border-right: 2px solid #939393;
  height: 225px;
}

.line-mobile {
  display: none;
}

.collection-description {
  margin-top: 70px;
}

.collection-button {
  width: calc(135px + 25%)!important;
}

.bottom-collection {
  width: 100%;
  height: 50%;
}

.collection-carousel-outer {
  width: 65%;
  margin-left: 23%;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.collection-carousel {
  display: flex;
  justify-content: center;
  height: 150px;
  z-index: 5;
}

.collection-carousel-radio {
  width: 100px;
  margin-top: 35px;
  margin-bottom: 20px;
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.collection-carousel-item {
  width: 150px;
  height: 150px;
  margin: 0 15px;
}

.collection-carousel-item img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

/*collection slide animation*/

.enter-active-collection.enter-left-collection, .enter-active-collection.enter-right-collection, 
.enter-active-collection.enter-text-right-collection, .enter-active-collection.enter-text-left-collection {
  transform: translateX(0);
  opacity: 1;
  position: absolute;
  transition: all .4s ease;
}

.enter-left-collection {
  transform: translateX(175px);
  opacity: 0.01;
  width: 150px;
  height: 150px;
}

.enter-right-collection {
  transform: translateX(-175px);
  opacity: 0.01;
  width: 150px;
  height: 150px;
  transition: all .4s ease;
}

.leave-vert-collection {
  transform: translateX(0) translateY(0);
  opacity: 1;
}

.leave-active-left-collection {
  transform: translateX(-175px);
  opacity: 0.01;
  width: 150px;
  height: 150px;
  transition: all .4s ease;
}

.leave-vert-collection.leave-active-right-collection {
  transform: translateX(175px);
  opacity: 0.01;
  width: 150px;
  height: 150px;
  transition: all .4s ease;
}

/*bottom catalog*/

.bottom-catalog {
  margin-top: 5%;
}

.bottom-catalog-items {
  width: 80%;
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.bottom-catalog-item {
  width: 235px;
  height: 465px;
  margin: 45px 0;
  background: #ffffff;
  box-shadow: 5px 5px 35px -15px rgba(0,0,0,0.75);
  transition: transform .5s;
}

.bottom-catalog-item:hover {
  transform: scale(1.02, 1.02);
}

.bottom-catalog-item-desc {
  height: 105px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
}

.bottom-catalog-item-desc span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.bottom-catalog-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-catalog-price span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.bottom-catalog-price div {
  width: 8px;
  height: 8px;
  border: 1.75px solid #7B7B7B;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
  transition: transform .5s;
}

.bottom-catalog-price div:hover {
  cursor: pointer;
  transform: rotate(45deg) translateY(5px) translateX(5px) scale(1.2, 1.2);
}

.bottom-catalog-color {
  width: 20px;
  height: 20px;
}

.bottom-catalog-item img {
  width: 100%;
  height: 325px;
  object-fit: cover;
}

.catalog-description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 30px;
}

/*FOOTER*/

footer {
  grid-area: footer;
  width: 70%;
  padding: 5% 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #34353D;
}

footer img {
  margin-right: 15px;
  grid-area: footer-img;
}

.list-footer {
  color: #ffffff;
  grid-area: footer-list;
}

ul.list-footer li:after {
  transition: 0.5s width;
  background: none repeat scroll 0 0 #ffffff;
  content: "";
  display: block;
  height: 1px;
  margin-top: 8px;
  width: 0;
}

ul.list-footer li:active:after {
  transform: scale(1, 1);
}

ul.list-footer li:hover:after {
  width: 100%;
}

.footer-number {
  margin: 0 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1vw;
  white-space: nowrap;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  grid-area: footer-number;
}

.footer-button {
  width: 150px;
  height: 45px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  outline: none;
  border: 1px solid white;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: transform .5s, background-position .5s;
  grid-area: footer-btn;
}

.footer-button:hover {
  transform: scale(1.01,1.01);
  background-position: left bottom;
}

.footer-button:active {
  transform: scale(0.98, 0.98);
}

.footer-arrow-button {
  position: relative;
  padding: 10px;
  width: 35px;
  height: 35px;
  transition: .5s transform;
  grid-area: footer-arrow;
}

.footer-arrow-button:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.footer-arrow-button:active {
  transform: translateY(-7px);
}

.footer-arrow {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 17.5px;
  border: 1.75px solid #ffffff;
  border-left: 0;
  border-top: 0;
  transform: rotate(-135deg);
}

.footer-line {
  position: absolute;
  left: 22px;
  height: 35px;
  width: 1px;
  background-color: #ffffff;
}

/*MEDIA*/

@media only screen and (max-width: 1350px) {
  .head-carousel {
    height: 650px;
  }

  .bottom-catalog-items > * {
    margin: 45px 25px;
  }

  .left-head-bottom {
    height: 650px;
  }

  footer {
    display: grid;
    grid-template-columns: 150px 450px auto;
    grid-column-gap: 5px;
    grid-row-gap: 15px;
    grid-template-rows: auto auto;
    grid-template-areas: 
      "footer-img footer-list ."
      "footer-btn footer-number footer-arrow";
    justify-items: start;
  }
}

@media only screen and (max-width: 1200px) {
  ul.list-categories li {
    font-size: 1.3vw;
  }

  .head-carousel {
    height: 450px;
  }

  .right-collection {
    height: 550px;
  }

  .right-collection-bg {
    width: 120%;
  }

  .sale-carousel {
    width: 100%;
    align-self: center;
  }

  .sale-carousel-right, .sale-carousel-left {
    display: none;
  }

  div.left-head-bottom {
    height: 650px;
  }
}

@media only screen and (max-width: 1018px) {
  .bottom-catalog-item {
    margin: 45px 20px;
  }
}

@media only screen and (max-width: 992px) {
  header {
    padding: 0 85px;
  }

  div.left-head-bottom {
    height: 450px;
  }

  div.left-head-bottom > * {
    margin-bottom: 15px;
  }

  .head-carousel {
    height: 520px;
  }

  .carousel-list {
    width: calc(100% - 30px);
    margin-right: 15px;
    margin-left: 15px;
  }

  section.catalog {
    padding: 5% 85px;
  }

  footer {
    padding: 5% 85px;
    width: calc(100% - 170px);
  }

  .footer-number, ul.list-footer li {
    font-size: 1.4vw;
  }
}

@media only screen and (max-width: 930px) {
  header {
    padding: 0 65px;
  }

  span.subtitle-head {
    font-size: 1.8vw;
  }

  .left-head-top > ul {
    display: none;
  }

  .left-head-bottom {
    height: 350px;
  }

  button.button-head {
    font-size: 2.6vw;
    line-height: 3.2vw;
    width: 70%;
  }

  .carousel-icon {
    display: none;
  }

  .carousel-menu {
    width: 18px;
    height: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .carousel-number {
    font-size: 1.2vw;
  }

  .carousel-button {
    margin-left: 10px;
    width: 90%;
  }

  .carousel-menu > span {
    width: 18px;
    height: 1px;
    background-color: #000000;
  }

  section.catalog {
    padding: 5% 0;
  }

  img.lookbook-image {
    box-shadow: 77px 67px 0px -35px rgba(216, 227, 231, 0.36);
  }

  .bottom-catalog-items > * {
    margin: 45px 5px;
  }

  footer {
    padding: 5% 65px;
    width: calc(100% - 130px);
  }
}

@media only screen and (max-width: 800px) {
  .left-head-bottom {
    margin-top: 25px;
  }
  span.title-head {
    font-size: 3.3vw;
  }

  span.subtitle-head {
    font-size: 2.3vw;
    line-height: 3vw;
    margin-bottom: 45px;
  }
}

@media only screen and (max-width: 743px) {
  .head-carousel {
    min-width: 210px;
    height: 350px;
  }

  .head-carousel-img {
    min-width: 210px;
    height: 350px;
  }

  button.carousel-button {
    font-size: 1.4vw;
  }

  .carousel-menu {
    margin-left: 10px;
  }

  .top-catalog {
    background-position: top right 25px;
  }

  img.lookbook-image {
    width: 45%;
    box-shadow: 67px 57px 0px -15px rgba(216, 227, 231, 0.36);
  }

  .collection-carousel-outer {
    height: 150px;
  }

  .collection-carousel {
    height: 150px;
  }

  .collection-carousel span {
    width: 125px;
    height: 125px;
    margin: 0 10px;
  }

  .collection-carousel-item {
    width: 125px;
    height: 125px;
  }

  .collection-carousel-item img {
    width: 125px;
    height: 125px;
  }

  .right-collection {
    width: 250px;
  }

  .right-collection-bg {
    width: 110%;
  }

  .bottom-catalog-items {
    justify-content: center;
  }

  footer {
    grid-template-columns: 150px 300px auto;
    grid-template-areas: 
      "footer-img footer-list footer-list"
      "footer-btn footer-number footer-arrow";
  }

  .footer-number, ul.list-footer li {
    font-size: 1.8vw;
  }
}

@media only screen and (max-width: 630px) {
  span.title-head {
    font-size: 3.6vw;
  }

  span.subtitle-head {
    font-size: 2.5vw;
    line-height: 2.9vw;
    margin-bottom: 25px;
  }

  .lookbook {
    justify-content: flex-start;
    margin-bottom: 25px;
  }

  .lookbook-description {
    margin-left: 10%;
  }

  img.lookbook-image {
    width: 40%;
  }

  .top-collection {
    margin-left: 55px;
  }

  .collection-line {
    margin-top: -25px;
  }

  .collection-description {
    margin-top: 25px;
  }

  .right-collection {
    width: 200px;
    height: 525px;
  }

  .right-collection-bg {
    width: 120%;
  }

  .catalog-description {
    margin-left: 55px;
  }
}

@media only screen and (max-width: 576px) {
  header {
    padding: 0;
  }

  .left-head {
    display: none;
  }

  .right-head {
    width: 100vw;
    height: 675px;
  }

  .head-carousel {
    width: 100vw;
    height: 675px;
  }

  button.carousel-button {
    width: calc(100%-20px);
    margin-right: 15px;
    font-size: 10px;
  }

  li.logo-head-mobile > img.logo-head {
    display: block;
    height: 30px;
    margin-right: 5px;
  }

  .head-carousel-img {
    width: 100vw;
    height: 675px;
  }

  .carousel-icon {
    display: block;
  }

  .carousel-number {
    font-size: 10px;
  }

  div.carousel-nav {
    width: calc(100%  - 30px);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    margin: 25px 15px;
  }

  div.carousel-item-name {
    transform: scale(0.8, 0.8);
    margin-bottom: 0;
  }

  div.mobile {
    display: block;
    margin-left: 0;
    margin-right: 25px;
  }

  section.sale {
    padding: 35px 0;
  }

  .title-sale {
    margin-left: 45px;
  }

  section.catalog {
    padding: 45px 0;
  }

  .top-catalog {
    background-image: none;
  }

  .lookbook {
    display: flex;
    flex-direction: column;
    padding: 25px 65px;
  }

  img.lookbook-image {
    width: 100%;
    box-shadow: -67px 57px 0px -15px rgba(216, 227, 231, 0.36);
  }

  .lookbook-description {
    align-self: flex-start;
    width: 80%;
    margin-top: 55px;
    margin-left: 0;
    display: flex;
    flex-direction: row;
  }

  .collection {
    position: relative;
    display: flex;
  }

  .top-collection {
    width: 350px;
  }

  .collection-description {
    width: 100%;
    margin-top: 25%;
    margin-bottom: 65px;
  }

  .collection-line {
    display: none;
  }

  .line-mobile {
    display: block;
    height: 160px;
    margin-top: -55px;
  }

  .left-collection {
    margin-top: 50%;
    display: flex;
    flex-direction: column-reverse;
    z-index: 6;
  }

  .right-collection {
    position: absolute;
    right: 0;
    width: 50%;
    height: 500px;
  }

  .right-collection-bg {
    position: relative;
    height: 500px;
    width: auto;
    bottom: 0;
  }

  .right-collection-bg img {
    height: 100%;
    width: auto;
  }

  footer {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
      "footer-img"
      "footer-list"
      "footer-btn"
      "footer-number"
      "footer-arrow";
    justify-items: center;
    justify-content: center;
  }

  ul.list-footer {
    display: flex;
    flex-direction: column;
  }

  ul.list-footer li {
    margin-bottom: 15px;
  }

  .footer-number, ul.list-footer li {
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .carousel-icon {
    display: none;
  }

  .lookbook {
    padding: 25px 45px;
  }

  .collection-carousel-mobile {
    display: none;
  }

  .left-collection {
    margin-top: 250px;
  }

  .right-collection {
    width: 65%;
  }

  .collection-carousel-outer {
    margin-left: 15px;
  }

  .top-collection {
    width: 300px;
  }

  .bottom-collection {
    width: 200px;
  }

  .collection-description {
    margin-top: 50%;
  }
}

@media only screen and (max-width: 375px) {
  header {
    padding: 0;
    background-image: none;
  }

  ul.carousel-list-mobile {
    display: block;
  }

  div.left-head-bottom {
    height: 320px;
    margin-top: 75px;
  }

  span.title-head {
    font-size: 26px;
    line-height: 32px;
  }

  span.subtitle-head {
    font-size: 14px;
    line-height: 22px;
  }

  button.button-head {
    width: 75%;
    min-height: 45px;
    font-size: 14px;
  }

  div.arrow-head {
    display: none;
  }

  .top-head {
    display: flex;
    flex-direction: column;
  }

  div.left-head {
    width: calc(100% - 70px);
    display: block;
    margin: 20px 35px;
  }

  div.left-head-bottom {
    width: 100%;
    margin-right: 0;
  }

  .right-head {
    margin: 0;
    width: 100vw;
    height: 675px;
  }

  div.carousel-nav {
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 65px 15px;
  }

  div.carousel-item-desc {
    height: 75px;
  }

  div.carousel-item-name {
    margin-left: -25px;
  }

  div.carousel-nav > * {
    margin-bottom: 25px;
  }

  ul.carousel-list {
    display: none;
  }

  img.logo-head {
    transform: scale(0.8, 0.8);
  }

  div.left-head-top {
    width: calc(100% - 60px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul.carousel-list-mobile {
    margin: 0;
    margin-left: 115px;
    display: flex;
    width: 50%;
  }

  ul.carousel-list-number {
    margin: 25px 0;
    width: calc(100% - 50px);
  }

  ul.carousel-list-number > li {
    font-size: 12px;
  }

  .carousel-icon {
    display: block!important;
  }

  div.head-carousel {
    height: 575px;
  }

  div.mobile {
    display: block;
  }

  li.logo-head-mobile > img.logo-head {
    display: none;
  }

  .lookbook {
    padding: 25px 25px;
  }

  .top-collection {
    width: 275px;
    margin-left: 45px;
  }

  .collection-description {
    margin-top: 125px;
  }

  .catalog-description {
    margin-left: 45px;
  }

  footer {
    margin: 0;
    padding: 45px 35px;
    width: calc(100% - 70px);
  }
}