.App, body {
  grid-template-areas: 
    "head"
    "sale"
    "catalog"
    "footer";
  overflow-x: hidden;
  min-width: 1400px;
  min-height: 600px;
}

/*HEADER*/

header {
  grid-area: head;
  height: auto;
  padding: 0 15%;
  background-image: url("./images/allienbg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 85% auto;
}

header .top-head {
  display: flex;
}

/*left*/

div.left-head {
  width: 53%;
  margin-top: 3%;
}

div.left-head-top {
  display: flex;
  align-content: center;
}

div.left-head-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  width: 75%;
  height: 650px;
}

div.left-head-bottom > * {
  margin-bottom: 35px;
}

img.logo-head {
  display: inline-block;
  margin-right: 35px;
}

ul.list-head {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.list-categories {
  display: flex;
}

ul.list-categories li {
  height: 100%;
  transition: 0.5s transform;
}

ul.list-categories li:after {
  transition: 0.5s width;
  background: none repeat scroll 0 0 rgba(51, 58, 64, 0.92);
  content: "";
  display: block;
  height: 1px;
  margin-top: 8px;
  width: 0;
}

ul.list-categories li:hover {
  cursor: pointer;
}

ul.list-categories li:active {
  transform: scale(0.95, 0.95);
}

ul.list-categories li:active:after {
  transform: scale(1, 1);
}

ul.list-categories li:hover:after {
  width: 100%;
}

ul.list-head li {
  display: inline;
  margin-right: 20px;
  overflow: hidden;
}

span.title-head {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 43px;
  color: rgba(51, 58, 64, 0.92);
}

span.subtitle-head {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

button.button-head {
  width: 270px;
  height: 60px;
  border: none;
  outline: none;
  background: linear-gradient(to right, rgba(51, 58, 64, 0.92) 50%, #4485BB 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  box-shadow: 5px 5px 30px rgba(58, 134, 198, 0.47);
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  transition: background-position .5s, transform .25s;
}

button.button-head:hover {
  background-position: left bottom;
  transform: scale(1.01, 1.01);
}

button.button-head:active {
  outline: none;
  transform: scale(0.99, 0.99);
}

.arrow-out {
  position: relative;
}

.line {
  position: absolute;
  width: 1.5px;
  height: 55px;
  background: #000000;
}

.line-down {
  height: 45px;
  left: 28px;
  top: 37.5px;
  width: 2px;
  transition: .45s transform;
}

.line-up {
  left: 18px;
  transition: .85s transform;
}

.arrow {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid #000000;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
  left: 20px;
  top: 65px;
  transition: .45s transform;
}

div.arrow-head {
  width: 47px;
  height: 90px;
  margin-left: 35px;
}

div.arrow-head:hover {
  cursor: pointer;
}

div.arrow-head:hover .line {
  transform: translateY(15px);
}

div.arrow-head:hover .arrow {
  transform: translateY(15px) rotate(45deg);
}

div.arrow-head:active .line-up {
  transform: translateY(20px);
}

div.arrow-head:active .line-down {
  transform: translateY(25px);
}

div.arrow-head:active .arrow {
  transform: translateY(25px) rotate(45deg);
}

ul.icons-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 75px;
  margin-top: 55px;
}

ul.icons-head li {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

ul.icons-head li > img {
  margin-bottom: 15px;
}

/*right*/

div.right-head {
  width: 45%;
}

.carousel-list {
  width: 100%;
  z-index: 2;
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin-top: 5.5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.carousel-number {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  white-space: nowrap;
  line-height: 16px;
}

.carousel-button {
  width: 150px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.15) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  outline: none;
  border: 1px solid #5E5E5E;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #5E5E5E;
  transition: transform .5s, background-position .5s;
}

.carousel-button:hover {
  transform: scale(1.01,1.01);
  background-position: left bottom;
}

.carousel-button:active {
  transform: scale(0.98, 0.98);
}

.carousel-list li {
  display: inline-block;
}

.carousel-icon {
  transition: transform .5s;
}

.carousel-icon:hover {
  transform: scale(1.05, 1.05);
  cursor: pointer;
}

.carousel-icon:active {
  transform: scale(0.98, 0.98);
}

.head-carousel {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 600px;
  min-width: 480px;
}

.head-carousel-slide {
  position: absolute;
}

.head-carousel-img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.carousel-item-name {
  width: 180px;
  border-left: 2px solid #939393;
  padding: 10px 15px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.carousel-item-desc {
  display: block;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.carousel-item-price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.carousel-nav {
  position: relative;
  align-self: flex-end;
  margin: 9.5% 7.5%;
}

.head-carousel-button {
  z-index: 2;
  position: relative;
  display: inline-block;
  width: 35px;
  height: 10px;
  transition: transform .4s;
}

.head-carousel-next-line {
  position: absolute;
  top: 2.5px;
  width: 35px;
  height: 1.5px;
  background-color: #000000;
}

.head-carousel-next-arrow {
  position: absolute;
  left: 28px;
  width: 5px;
  height: 5px;
  border: 1.5px solid #000000;
  border-left: 0;
  border-top: 0;
  transform: rotate(-45deg);
}

.head-carousel-count {
  display: inline-block;
  margin: 0 15px;
}

.head-carousel-count-letter {
  display: inline;
  position: absolute;
  overflow: hidden;
}

.head-carousel-after-count {
  margin-left: 9px;
}

.head-carousel-prev-line {
  position: absolute;
  top: 2.5px;
  width: 35px;
  height: 1.5px;
  background-color: #000000;
}

.head-carousel-prev-arrow {
  position: absolute;
  width: 5px;
  height: 5px;
  border: 1.5px solid #000000;
  border-left: 0;
  border-top: 0;
  transform: rotate(135deg);
}

.head-carousel-prev:hover {
  transform: translateX(-5px);
}

.head-carousel-prev:active {
  transform: scale(1.1, 1.1) translateX(-7px);
}

.head-carousel-next:hover {
  transform: translateX(5px);
}

.head-carousel-next:active {
  transform: scale(1.1, 1.1) translateX(7px);
}

/*slide animation*/

.enter-active.enter-left, .enter-active.enter-right, .enter-active.enter-text-right, .enter-active.enter-text-left {
  transform: translateX(0);
  transition: transform .4s ease;
}

.enter-left {
  transform: translateX(100%);
}

.enter-right {
  transform: translateX(-100%);
  transition: transform .4s ease;
}

.enter-text-left {
  transform: translateX(100%);
  position: absolute;
  width: 180px;
}

.enter-text-right {
  transform: translateX(-100%);
  transition: transform .4s ease;
  position: absolute;
  width: 180px;
}

.leave-vert {
  transform: translateX(0);
}

.leave-active-left {
  transform: translateX(-100%);
  transition: transform .4s ease;
}

.leave-vert.leave-active-right {
  transform: translateX(100%);
  transition: transform .4s ease;
}

/*top-bottom*/

.enter-active.enter-bottom, .enter-active.enter-top {
  transform: translateY(0);
  opacity: 1;
  transition: all .4s;
}

.enter-bottom {
  transform: translateY(100%);
  opacity: 0.01;
}

.enter-top {
  transform: translateY(-100%);
  opacity: 0.01;
  transition: all .4s;
}

.leave-hor {
  transform: translateY(0);
  opacity: 1;
}

.leave-active-bottom {
  transform: translateY(-100%);
  opacity: 0.01;
  transition: all .4s;
}

.leave-hor.leave-active-top {
  transform: translateY(100%);
  opacity: 0.01;
  transition: all .4s;
}

/*SALE*/

section.sale {
  grid-area: sale;
  background: rgba(230, 239, 248, 0.29);
  height: 800px;
  padding: 4% 15%;
}

span.title-sale {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 30px;
}

/*CATALOG*/

section.catalog {
  grid-area: catalog;
  padding: 5% 15%;
  background-color: #ffffff;
}

/*lookbook*/

img.lookbook-image {
  width: 50%;
  box-shadow: -77px 67px 0px -35px rgba(216, 227, 231, 0.36);
}

.lookbook-description {
  width: 40%;
  height: 100%;
}

.title-description {
  display: block;
  margin-bottom: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 30px;
}

.subtitle-description {
  display: block;
  margin-bottom: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.lookbook-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 45px;
  background: linear-gradient(to right, rgba(216, 227, 231, 0.36) 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  outline: none;
  border: 1px solid black;
  transition: background-position .5s, transform .5s;
}

.lookbook-button-description {
  font-family: Montserrat;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
}

.lookbook-button:hover {
  outline: none;
  background-position: left bottom;
  transform: scale(1.01, 1.01);
}

.lookbook-button:hover .button-arrow {
  transform: translateX(5px);
}

.lookbook-button:active {
  outline: none;
  transform: scale(0.98, 0.98);
}

.lookbook-button:active .button-arrow {
  transform: translateX(12px);
}

.button-arrow {
  position: relative;
  transition: 0.5s transform;
}

.button-arrow-line {
  position: absolute;
  right: 1px;
  height: 1px;
  width: 15px;
  background-color: #000000;
}

.button-arrow-triangle {
  position: absolute;
  right: 1px;
  top: -2.9px;
  width: 5px;
  height: 5px;
  border: 1.5px solid #000000;
  border-left: 0;
  border-top: 0;
  transform: rotate(-45deg);
}

.lookbook {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*collection*/

.collection {
  display: flex;
}

.left-collection {
  width: 75%;
}

.right-collection {
  width: 25%;
  height: 600px;
  padding: 0;
  background: #CFDCE9;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.right-collection-bg {
  position: absolute;
  width: 120%;
  right: 20%;
  margin-bottom: -1.75%;
}

.right-collection-bg img {
  width: 120%;
  margin-bottom: 0;
}

.top-collection {
  width: 66.7%;
  display: flex;
  justify-content: space-between;
}

.collection-image {
  width: 125px;
  height: auto;
  margin-top: 70px;
}

.collection-line {
  width: 0;
  margin: 0 35px;
  margin-top: 15px;
  border-right: 2px solid #939393;
  height: 225px;
}

.collection-description {
  margin-top: 70px;
}

.collection-button {
  width: calc(135px + 25%);
}

.bottom-catalog {
  margin-top: 5%;
}

.bottom-catalog-items {
  width: 80%;
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.bottom-catalog-item {
  width: 27.5%;
  height: 465px;
  margin: 45px 0;
  background: #ffffff;
  box-shadow: 5px 5px 35px -15px rgba(0,0,0,0.75);
  transition: transform .5s;
}

.bottom-catalog-item:hover {
  transform: scale(1.02, 1.02);
}

.bottom-catalog-item-desc {
  height: 105px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
}

.bottom-catalog-item-desc span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.bottom-catalog-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-catalog-price span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.bottom-catalog-price div {
  width: 8px;
  height: 8px;
  border: 1.75px solid #7B7B7B;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
  transition: transform .5s;
}

.bottom-catalog-price div:hover {
  cursor: pointer;
  transform: rotate(45deg) translateY(5px) translateX(5px) scale(1.2, 1.2);
}

.bottom-catalog-color {
  width: 20px;
  height: 20px;
}

.bottom-catalog-item img {
  width: 100%;
  height: 325px;
  object-fit: cover;
}

.catalog-description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 30px;
}

/*FOOTER*/

footer {
  grid-area: footer;
  width: 70%;
  padding: 5% 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #34353D;
}

.list-footer {
  color: #ffffff;
}

ul.list-footer li:after {
  transition: 0.5s width;
  background: none repeat scroll 0 0 #ffffff;
  content: "";
  display: block;
  height: 1px;
  margin-top: 8px;
  width: 0;
}

ul.list-footer li:active:after {
  transform: scale(1, 1);
}

ul.list-footer li:hover:after {
  width: 100%;
}

.footer-number {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-button {
  width: 150px;
  height: 45px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  outline: none;
  border: 1px solid white;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: transform .5s, background-position .5s;
}

.footer-button:hover {
  transform: scale(1.01,1.01);
  background-position: left bottom;
}

.footer-button:active {
  transform: scale(0.98, 0.98);
}

.footer-arrow-button {
  position: relative;
  width: 15px;
  height: 35px;
  transition: .5s transform;
}

.footer-arrow-button:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.footer-arrow-button:active {
  transform: translateY(-7px);
}

.footer-arrow {
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1.75px solid #ffffff;
  border-left: 0;
  border-top: 0;
  transform: rotate(-135deg);
}

.footer-line {
  position: absolute;
  left: 4.35px;
  height: 35px;
  width: 1px;
  background-color: #ffffff;
}

/*MEDIA*/